<layout name="layout" />
    <div class="body-content">
    	<div class="login-content-wrap container ">
    		<div class="login-content-banner"></div>
    		<form action="__SELF__" method="post" class="login-form-content register-content-wrap">
    			<p class="login-title">忘记密码</p>
    			<div class="login-input-wrap">
    				<i class="fa fa-mobile"></i>
    				<input type="text" placeholder="请输入手机号" name='phone' class="login-input">
    			</div>
    			<div class="login-input-wrap">
    				<i class="fa fa-lock"></i>
    				<input type="text" placeholder="请输入验证码" name="code" class="verify-btn verify-code">
    				<input type="button" name="send_code" value="获取验证码" class="verify-btn verify-code-button">
    			</div>
    			<div class="login-input-wrap">
    				<i class="fa fa-lock"></i>
    				<input type="password" placeholder="新密码" name='password' class="login-input">
    			</div>
    			<div class="login-input-wrap">
    				<i class="fa fa-lock"></i>
    				<input type="text" placeholder="确认新密码" name='cpassword' class="login-input">
    			</div>
    			<button type="submit" class="login-botton">立即修改</button>
				<div class="login-tip">
					<a href="{:U('regist')}" class="register">免费注册</a>
					<a href="{:U('login')}" class="forget-password">去登录</a>
				</div>
    		</form>
    	</div>
    </div>
<layout name="layout" />
<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script>
	//点击一次,有两次事件
	$("input[name='send_code']").click(function () {
//		alert(13);
		var phone = $("input[name='phone']").val();
		var code = $("input[name='code']").val();
		if(phone.length ==0 ){
			alert('手机号不能为空');
			return false;
		}else {
			var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
			if (!myreg.test(phone)) {
				alert('请输入正确的手机号');
				return false;
			}
		}
		$.ajax({
			url:"{:U('/Home/User/send')}",
			type:"post",
			data:{"phone":phone,"code":code},
			dataType:"json",
			success:function (msg) {
				if(msg['error']=='false'){
//                console.log(msg['error']);
				}else {
//                console.log(msg['error']);;
				}
			}
		})

	})
</script>
